/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY 
	www.jansbury.com
	
------------------------------------*/

/* ==========================================================================
  Just a font to the face
   ========================================================================== */
   
@font-face {
    font-family: 'robotolight';
    src: url('../f/Roboto-Light-webfont.eot');
    src: url('../f/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/Roboto-Light-webfont.woff') format('woff'),
         url('../f/Roboto-Light-webfont.ttf') format('truetype'),
         url('../f/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotissansserif65bold';
    src: url('../f/rotis-sans-serif-65-bold-1361510459-webfont.eot');
    src: url('../f/rotis-sans-serif-65-bold-1361510459-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/rotis-sans-serif-65-bold-1361510459-webfont.woff') format('woff'),
         url('../f/rotis-sans-serif-65-bold-1361510459-webfont.ttf') format('truetype'),
         url('../f/rotis-sans-serif-65-bold-1361510459-webfont.svg#rotissansserif65bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../f/robotocondensed-italic-webfont.eot');
    src: url('../f/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/robotocondensed-italic-webfont.woff') format('woff'),
         url('../f/robotocondensed-italic-webfont.ttf') format('truetype'),
         url('../f/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}

/* ==========================================================================
   Normals
   ========================================================================== */
   


* {margin: auto;padding: 0;text-decoration:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
html{height:100%;}


/* ==========================================================================
   Span Classes
   ========================================================================== */
body{
	background-color: #282828;
	color: #f7f7f7;
	font-size: 1;


}

h1{}
h2{
	font-family: 'rotissansserif65bold', helvetica, Arial, sans-serif;
	font-size: 0.875em;
	margin: 0 0 1%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3{
	font-family: 'rotissansserif65bold', helvetica, Arial, sans-serif;
	font-size: 0.875em;
	margin: 0 0 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p{
	font-family: 'robotolight';
	font-size:0.813em
}
a {
	color:#f7f7f7;
	-webkit-transition:color 200ms ease-in;
	-moz-transition:color 200ms ease-in;
	-o-transition:color 200ms ease-in;
	-ms-transition:color 200ms ease-in;
	text-decoration:none;
}

a:hover {
	color:#e17102;
	-webkit-transition:color 100ms ease-in;
	-moz-transition:color 100ms ease-in;
	-o-transition:color 100ms ease-in;
	-ms-transition:color 100ms ease-in;
}

header{
	height: 100%;
	position: relative;
	width: 100%;
	background-color: #222222;
}
.cntr{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
header .cntr{
	width: 100%;
	min-height: 162px;

}


.logoCon{
	float: left;
	max-width: 250px;
	margin: 2% 0;
}
.logoCon img{
	width: 100%
}

/* -- M A I N  N A V -- */

.main {
	position:relative;
	float:right;
	top:92px;
	z-index:90;
	width: 41%;
}
/*

nav.main ul {
	width:100%;
	padding:0;
}
*/

nav.main li {
	display:inline-block;
	list-style:none;
	padding:0 10px;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size:.85em;
	font-family: 'rotissansserif65bold';
	height: 28px;
	box-sizing: border-box;
}

nav.main li.active{
	border-bottom: 2px solid #E17102;
}


.line{
	height: 1px;
	width: 45%;
	background-color: #E17102;
	position: relative;
	top: -43px;
	float: right;
}



/* -- H O M E  P A G E -- */

.welcomeImgCon{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.welcomeImgCon img{
	width: 100%;
}
.welcomeImg{
	width: 100%;
	height: 410px;
	background-color: #eee;
	position: relative;
}

.servCon div{
	display: table-cell;
}

.serv1, .serv2, .serv3,.serv4, .serv5, .serv6{
	float:left;
	width: 37%;
	height: 100px;
	margin: 7% 0 3%;
	position: relative;
}


.serv2,.serv5{
	margin: 7% 0.5% 3%;
}
.serv4, .serv5, .serv6{
	margin-top: 2%;
	margin-bottom: 7%;
}

.serv3,.serv6{
	float: right;
	width: 22%;
}
.view{
	font-size: 0.750em;
	position: absolute;
	font-family: 'roboto_condenseditalic';
	letter-spacing: 1px;
	bottom: 0;

}
.view a{
		color: #DB862F;
}
.view a:hover{
		color: #f7f7f7;
}
/* -- F O O T E R -- */

footer{
	background-color: #2a2a2a;
	width: 100%;
}

.fCol1,.fCol2,.fCol3,.fCol4{
	float: left;
	padding: 3% 0;
	box-sizing: border-box;
/* 	border: 1px solid red; */
}
.fCol1{
	width: 23%;
}
.fCol2{
	width: 43%;
	height: 30px;
}
.fCol3{
	width: 20%;
	height: 30px;
}
.fCol3 a{
	color: #c4c4c4; 
}
.fCol3 a:hover{
	color: #e17102;
}
.fCol4{
	width: 14%;
	height: 30px;
}
footer span{
	font-size: 0.750em;
	color: #c4c4c4;
	display: block;
	line-height: 16px;
}


.addleft{
	width: 52%;
	float: left;
}

.fCol4 ul li{
	display: inline-block;
	
}

.facebook,.linkedin{
	background: url(../i/facebook.png) center center no-repeat;	
	width: 22px;
	height: 22px;
	background-color: #353535;
}

.linkedin a,.facebook a{
	text-indent: -9999px;
	display:inline-block;
	height: 22px;
	width: 22px;
}
.linkedin{
	background: url(../i/linkedin.png) center center no-repeat;	
	background-color: #353535;
}
.copy{
	color:#444444;
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.5px;
}
#year{
	display: inline-block;
	color:#444444;
	font-size: inherit;
}



/* REGANS CSS */












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
	.cntr{
		width: 95%;
	}
	.main{
		width: 60%;
	}
	.line{
	
		width: 55%;
	}
	.logoCon{
		padding-left: 2%;
	}

}

@media only screen and (max-width: 1024px) {


}
/* FOR FOOTER DIVS/restyle */
@media only screen and (max-width: 680px) {
		.fCol1,.fCol2,.fCol3,.fCol4{
			float: none;
			width: 100%;
			height: 100%;
			text-align: center;	
		}
		.addleft {
			width: inherit;
			float: none;
			margin-bottom: 2%;
		}
		.main{
			float: none;
			width: 100%;
			text-align: center;
			top:auto;
			margin: 2% 0 0;
		}
		.logoCon{
			float: none;
			margin: 2% auto;
		}
		.line{float: none;
			width: 100%;
			text-align: center;
			top: auto;
		}
}


@media only screen and (max-width: 580px) {
	.servCon div{
		float: none;
		width: 100%;
		display: block;
		text-align: center;
	}

}





@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}